body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: green;
}

.yellow-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: yellow;    
}

.pink-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: fuchsia;
    height: 450px;
}

.blue-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: blue;
    width: 700px;
    height: 200px;
}

.red-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: red;
    width: 400px;
    height: 100px;
}

.lightgreen-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    width: 400px;
    height: 100px;
}

.purple-background {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: purple;
    height: 50px;
}

#main-container {
    display: grid;
    font-size: 20px;
    
}
#top-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 60px;
}

#middle-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

#vertical-middle-container {
    display: grid;
}