.unicorn img {
    width: 80px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;;
}

.menu > a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: calibri;
}

.nome {
    text-align: center;
    font-family: calibri;
}

img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.instit {
    text-align: left;
    display: inline-block;
    margin-left: 200px;
}

.empreg {
    text-align: center;
    display: inline-block;
    margin-left: 200px;
}

.habil {
    tex-align: right;
    display: inline-block;
    margin-left: 200px;
}

.rodape {
    background-color: whitesmoke;
    text-align: center;
}

.redes-sociais {
    font-size: 20px;
}

.icones > img {
    width: 50px;
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
}
