* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#geral {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#secao {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 200px;
    padding-left: 20px;
    border: 1px solid orange;
}

input {
    width: 40%;
    height: 30px;
}

button {
    width: 40%;
    height: 30px;
}

select {
    width: 20%;
    height: 30px;
}

h1 {
    font-size: 30px;
}